# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Merge files
*.orig
*.rej

# Build artifacts
.clang_complete
.build/
*.elf
*.log
*.lss
*.lst
*.map
*.o
*.a
*.so
*.dylib
*.dll
*.la
*.stackdump
*.sym
index.html
firmware_list.json

# QMK-specific
api_data/v1
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2

# DD config at wrong location
/keyboards/**/keymaps/*/info.json
/keyboards/**/keymaps/*/keyboard.json

# Old-style QMK Makefiles
/keyboards/**/Makefile

# kbfirmware....
/keyboards/**/kb.h
/keyboards/**/kb.c

# STL files for 3D printing
split_keebs/bum_36/stl_files/*.stl

