/macro_pad_projects/split_keyboards/bum_36/stl_files/left_body.stl
/macro_pad_projects/split_keyboards/bum_36/stl_files/left_plate_v1.1.stl
/macro_pad_projects/split_keyboards/bum_36/stl_files/left_plate.stl
/macro_pad_projects/split_keyboards/bum_36/stl_files/right_plate.stl
/macro_pad_projects/split_keyboards/bum_36/stl_files/right_plate_v1.1.stl
/macro_pad_projects/split_keyboards/bum_36/stl_files/right_case.stl

.history/