/macro_pad_projects/split_keyboards/bum_36/left_body.stl
/macro_pad_projects/split_keyboards/bum_36/left_plate_v1.1.stl
/macro_pad_projects/split_keyboards/bum_36/left_plate.stl
/macro_pad_projects/split_keyboards/bum_36/right_plate.stl
/macro_pad_projects/split_keyboards/bum_36/right_plate_v1.1.stl
/macro_pad_projects/split_keyboards/bum_36/right_case.stl